.PSEUDO-CODE {
  --pseudo-bg-color #f6f6f6
  --pseudo-code-color #ff2386
  --pseudo-meta-color #6e7781
  --pseudo-op-color #6e7781
  --pseudo-link-color #006bff
  --pseudo-def-color #551a8b
  --pseudo-fn-color #551a8b
  --pseudo-mark-color #6e7781
  padding 1em
  border-radius 5px
  background @--pseudo-bg-color
  background var(--pseudo-bg-color)
  font-size 14px
  font-family Fira Code, Operator Mono, Inconsolata, Hack, Droid Sans Mono, DejaVu Sans Mono, Consolas, Liberation Mono, Menlo, monospace
  line-height 20px
  .CODE {
    color @--pseudo-code-color
    color var(--pseudo-code-color)
    font-family Fira Code, Operator Mono, Inconsolata, Hack, Droid Sans Mono, DejaVu Sans Mono, Consolas, Liberation Mono, Menlo, monospace
  }
  .STRONG {
    font-weight bold
  }
  .META {
    color @--pseudo-meta-color
    color var(--pseudo-meta-color)
    font-style italic
  }
  .OR
  .AND {
    color @--pseudo-op-color
    color var(--pseudo-op-color)
  }
  .LINK {
    color @--pseudo-link-color
    color var(--pseudo-link-color)
    text-decoration none
    cursor pointer
    transition .3s
    &:hover
    &.hover {
      background-color @--pseudo-link-color
      background-color var(--pseudo-link-color)
      color white
    }
  }
  .DEF {
    color @--pseudo-def-color
    color var(--pseudo-def-color)
    text-decoration none
    cursor pointer
    &:hover
    &.hover {
      background-color @--pseudo-def-color
      background-color var(--pseudo-def-color)
      color white
    }
  }
  .FUNC_NAME {
    color @--pseudo-fn-color
    color var(--pseudo-fn-color)
    font-style italic
  }
  .MARK {
    color @--pseudo-mark-color
    color var(--pseudo-mark-color)
    font-weight normal
    font-style italic
    font-size .8em
    opacity .5
  }
}
