[{PSEUDO_CODE}] {
  background @--pseudo-bg-color
  background var(--pseudo-bg-color)
  color @--pseudo-text-color
  color var(@--pseudo-text-color)
  font-size 14px
  line-height 1.5
  white-space: pre;
  --pseudo-text-color #171717
  --pseudo-bg-color #f6f6f6
  --pseudo-code-color #ff2386
  --pseudo-meta-color #6e7781
  --pseudo-op-color #6e7781
  --pseudo-link-color #006bff
  --pseudo-def-color #9600dc
  --pseudo-fn-color #007816
  --pseudo-mark-color #6e7781
  &[{PSEUDO}=popup]:hover {
    display: block!important;
  }
  &
  * {
    font-family Fira Code, Operator Mono, Inconsolata, Hack, Droid Sans Mono, DejaVu Sans Mono, Consolas, Liberation Mono, Menlo, monospace
  }
  [{PSEUDO}=LINE] {
    display: block;
  }
  [{PSEUDO}=CODE] {
    color @--pseudo-code-color
    color var(--pseudo-code-color)
    font-family Fira Code, Operator Mono, Inconsolata, Hack, Droid Sans Mono, DejaVu Sans Mono, Consolas, Liberation Mono, Menlo, monospace
  }
  [{PSEUDO}=STRONG] {
    font-weight bold
  }
  [{PSEUDO}=META] {
    color @--pseudo-meta-color
    color var(--pseudo-meta-color)
    font-style italic
  }
  [{PSEUDO}=OR]
  [{PSEUDO}=AND] {
    color @--pseudo-op-color
    color var(--pseudo-op-color)
  }
  [{PSEUDO}=LINK] {
    color @--pseudo-link-color
    color var(--pseudo-link-color)
    text-decoration none
    cursor pointer
    transition .3s
    &:hover
    &.hover {
      background-color @--pseudo-link-color
      background-color var(--pseudo-link-color)
      color white
    }
  }
  [{PSEUDO}=DEF] {
    color @--pseudo-def-color
    color var(--pseudo-def-color)
    text-decoration none
    cursor pointer
    &:hover
    &.hover {
      background-color @--pseudo-def-color
      background-color var(--pseudo-def-color)
      color white
    }
  }
  [{PSEUDO}=FUNC_NAME]
  [{PSEUDO}=FUNC_LEFT_EDGE]
  [{PSEUDO}=FUNC_RIGHT_EDGE]
  [{PSEUDO}=FUNC_PARAM_SEP] {
    color @--pseudo-fn-color
    color var(--pseudo-fn-color)
    font-style italic
  }
  [{PSEUDO}=MARK] {
    color @--pseudo-mark-color
    color var(--pseudo-mark-color)
    font-weight normal
    font-style italic
    font-size .8em
    opacity .5
  }
}
